<template>
    <div class="bs-example mt-10">
        <div class="card text-center">
            <div class="card-header">Email Verification</div>
            <div class="card-body">
                <h5 class="card-title" style="color:green">You have Already verify your email </h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante.</p>
                <router-link to="/login" class="text-info">Login Here</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "login",
    data(){
        return{
            email: "",
            password: "",
            showLoader: false,
            showErrorDiv:false,
            errMsg: ""
        }
    },
    methods:{
        login: function (){
            let loginLoader = document.querySelector("#loader");
            if(!this.email || !this.password){
                this.showErrorDiv = true;
                this.errMsg = "Field Required";
                return;
            }
            axios.interceptors.request.use( (config) => {
                // Do something before request is sent
                this.showLoader = true;
                return config;
            }, function (error) {
                // Do something with request error
                return Promise.reject(error);
            });
            axios.post('/api/login', {
                email: this.email,
                password: this.password
            }).then( (response) => {
                    if(response.data.status === true){
                        axios.defaults.headers.common['Authorization'] = `Bearer ${response.data.token}`;
                        localStorage.setItem('token', response.data.token);
                        this.showLoader = false;
                        this.$isLogin = true; // global variable
                        this.$router.push('/todo-list');
                    }
                }).catch( (error) => {
                    this.showLoader = false;
                    this.showErrorDiv = true;
                    this.errMsg = error.response.data.msg;
                });
        }
    }
}
</script>

<style scoped>
</style>
