<template>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
             <div class="fadeIn first">
                 <h2>Login </h2>
             </div>
            <div class="alert alert-danger" :class="showErrorDiv ? '' : 'hidden'"  id="errorDiv" role="alert">{{ errMsg }}</div>

            <div id="loader" class="lds-dual-ring overlay" :class="showLoader ? '' : 'hidden'"></div>

            <!-- Login Form -->
            <form>
                <input type="text" name="username" id="username" placeholder="Email" class="fadeIn second" v-model="email">
                <input type="password" name="password" id="password" placeholder="Password" class="fadeIn third" v-model="password">
                <input type="button" name="submit" class="fadeIn fourth" value="Login" @click="login">
            </form>

            <!-- Remind Passowrd -->
<!--            <div id="formFooter">-->
<!--                <a class="underlineHover" href="#">Forgot Password?</a>-->
<!--            </div>-->
            <div id="formFooter">
                <router-link to="/register" class="underlineHover">Register Here</router-link>
            </div>

        </div>
    </div>
</template>

<script>
import setAuthorizationToken from '../../utils/setAuthorizationTokenHeader';
import BrowserStorage from "../../services/browserStorage";
import globalUtilities from "../../utils/globalUtilities";
import fetchResource from "../../services/apiRequest";
export default {
    name: "login",
    data(){
        return{
            email: "",
            password: "",
            showLoader: false,
            showErrorDiv:false,
            errMsg: ""
        }
    },
    methods:{
        showError(msg){
            this.showErrorDiv = true;
            this.errMsg = `${msg}`;
        },
        login: async function (){
            if(!globalUtilities.isValidEmail(this.email)){
                this.showError("Required valid Email field");
                return;
            }
            if(!this.password.trim()){
                this.showError("Password field required");
                return;
            }
            this.showLoader = true;
            try{
               let response = await fetchResource.post('/api/login', {
                    email: this.email,
                    password: this.password
                });
                if(response.data.status === true){
                    let token = response.data.token;
                    setAuthorizationToken(token);
                    await BrowserStorage.cookieStorage.set('token', token)
                    this.showLoader = false;
                    this.$store.commit('setLoginState', true);
                    this.$store.commit('setEmail', response.data.user.email);
                    this.$router.push('/todo-list');
                }
            }catch (error) {
                this.showLoader = false;
                this.showErrorDiv = true;
                this.errMsg = error.data.msg || "Something went wrong!";
            }
        }
    }
}
</script>

<style scoped>
</style>
