<template>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h2>Signup</h2>
            </div>
            <div class="alert alert-danger" :class="showErrorDiv ? '' : 'hidden'"  id="errorDiv" role="alert">{{ errMsg }}</div>

            <div id="loader" class="lds-dual-ring overlay" :class="showLoader ? '' : 'hidden'"></div>
            <div class="alert alert-success" :class="showSuccessDiv ? '' : 'hidden'"  role="alert">
                Successfully Register! An email has been sent to you email address. Please verify your email.
            </div>
            <form>
                <input type="text" name="username" id="username" placeholder="Email" class="fadeIn second" v-model="email">
                <input type="password" name="password" id="password" placeholder="Password" class="fadeIn third" v-model="password">
                <input type="button" name="submit" class="fadeIn fourth" value="Signup" :disabled="disabled" @click="register">
            </form>

            <div id="formFooter">
                <router-link to="/login" class="underlineHover">Login Here</router-link>
            </div>

        </div>
    </div>
</template>

<script>
import globalUtilities from "../../utils/globalUtilities";
import fetchResource from "../../services/apiRequest"
export default {
    name: "register",
    data(){
        return{
            email: "",
            password: "",
            showLoader: false,
            showErrorDiv:false,
            errMsg: "",
            showSuccessDiv:false,
            disabled: false
        }
    },
    methods:{
        showError(msg){
            this.showErrorDiv = true;
            this.errMsg = `${msg}`;
        },
        register: async function (){
            if(!globalUtilities.isValidEmail(this.email)){
                this.showError("Required valid Email field");
                return;
            }
            if(!globalUtilities.isValidPassword(this.password)){
                this.showError("Password length should be at least 8 to 25 characters long. Password must contain one upper & lower case letter and one numerical digit.");
                return;
            }
            this.showLoader = true;
            try{
                await fetchResource.post('/api/signup', {
                    email: this.email,
                    password: this.password
                });
                this.showLoader = false;
                this.showErrorDiv = false;
                this.showSuccessDiv = true;
                this.disabled = true;
            }catch (error) {
                this.showLoader = false;
                this.showErrorDiv = true;
                this.showSuccessDiv = false;
                this.errMsg = error.data.msg || "Something went wrong!";
            }
        }
    }
}
</script>

<style scoped>

</style>
