<template>
    <div class="container bg-white" >
        <div class="col-md-12">
            <div class=" d-flex justify-content-between mt-4">
                <h2 class="bg-light">Your Todo List</h2>
                <h2><router-link to="/todo-create" class=" col-md-offset-3 mb-3 float-xl-right">Create new Todo</router-link></h2>
            </div>
        </div>
        <div class="alert alert-success" style="display:none;" id="successDiv" role="alert"></div>

        <div class="row col-md-12 col-md-offset-2 custyle">

            <table class="table table-striped custab">
                <div id="loader" class="lds-dual-ring overlay" :class="showLoader ? '' : 'hidden'"></div>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Parent ID</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(obj, key) in todoCollection" :key="key">
                    <td>{{obj.id}}</td>
                    <td>{{obj.title}}</td>
                    <td>{{obj.description}}</td>
                    <td class="text-center">
                        <router-link  :to="/todo-update/ + obj.id" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</router-link>
                        <a href="javascript:void(0);" class="btn btn-danger btn-xs" @click="deleteTodo" :id="obj.id"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import fetchResource from "../../services/apiRequest";
import BrowserStorage from "../../services/browserStorage";

export default {
    name: "todoList",
    data(){
      return{
          showLoader: true,
          todoCollection: []
      }
    },
    methods:{
       async deleteTodo(e){
            this.showLoader = true;
            try {
                let response = await fetchResource.delete(`/api/todo/${e.target.id}`);
                if (response.data.status){
                    e.target.closest('tr').remove();
                    this.showLoader = false;
                    BrowserStorage.localForage.clearAll();
                }
            }catch (error) {
                this.showLoader = false;
            }
        }
    },
    mounted() {
        try {
            //  'cache'  word mean this will check localstorage
            //  if not found data then make http request and save data into cache.
            //  Like indexedDB of browser by using localforge
            fetchResource.cache.get('/api/todo').then((response) => {
               this.todoCollection = response.data.data;
               this.showLoader = false;
           })
        }catch (e) {
            this.showLoader = false;
        }
    }
}
</script>

<style scoped>
</style>
