<template>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h2>Create New Todo</h2>
            </div>
            <div class="alert alert-danger" :class="showErrorDiv ? '' : 'hidden'"  role="alert">{{ errMsg }}</div>
            <div class="alert alert-success" :class="showSuccessDiv ? '' : 'hidden'"  role="alert">
                Successfully Updated Todo. <router-link to="/todo-list" class="text-info">Go Todo List</router-link>
            </div>
            <div id="loader" class="lds-dual-ring overlay" :class="showLoader ? '' : 'hidden'"></div>
            <form>
                <input type="text" name="title" id="title" placeholder="Title" v-model="title"  class="fadeIn second">
                <textarea name="description" id="description" placeholder="Description" v-model="description" class="fadeIn third"></textarea>
                <input type="button" name="submit" class="fadeIn fourth" @click="editTodo" value="Create New Todo">
            </form>
            <div id="formFooter">
                <router-link to="/todo-list" class="">Todo List</router-link>
            </div>
        </div>
    </div>

</template>

<script>
import fetchResource from "../../services/apiRequest";
import BrowserStorage from "../../services/browserStorage";

export default {
    name: "todoUpdate",
    data(){
        return{
            title: "",
            description: "",
            id: this.$route.params.id,
            showLoader: false,
            showErrorDiv:false,
            errMsg: "",
            showSuccessDiv:false,
        }
    },
    methods:{
        editTodo: async function (){
            if(!this.title || !this.description){
                this.showErrorDiv = true;
                this.showSuccessDiv = false;
                this.errMsg = "Field Required";
                return;
            }
            this.showLoader = true;
            try {
                let response = await fetchResource.put(`/api/todo/${this.id}`,{
                    title: this.title,
                    description: this.description
                });
                if(response.data.status === true){
                    this.showLoader = false;
                    this.showErrorDiv = false;
                    this.showSuccessDiv = true;
                    this.title = this.description = "";
                    BrowserStorage.localForage.clearAll();
                }
            }catch (error) {
                this.showLoader = true;
                this.showSuccessDiv = false;
                this.showErrorDiv = true;
                this.errMsg = error.data.msg;
            }
        }
    },
    mounted() {
        this.showLoader = true;
        try {
            fetchResource.get(`/api/todo/${this.id}`).then((response) => {
                if(response.data.status === true){
                    this.showLoader = false;
                    this.title = response.data.data.title;
                    this.description = response.data.data.description;
                }
            });
        }catch (error) {
            this.showLoader = true;
            this.showSuccessDiv = false;
            this.showErrorDiv = true;
            this.errMsg = error.data.msg;
        }

    }
}
</script>

<style scoped>

</style>
