<template>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h2>Create New Todo</h2>
            </div>
            <div class="alert alert-danger" :class="showErrorDiv ? '' : 'hidden'"  role="alert">{{ errMsg }}</div>
            <div class="alert alert-success" :class="showSuccessDiv ? '' : 'hidden'"  role="alert">
                Successfully Created New Todo. <router-link to="/todo-list" class="text-info">Go Todo List</router-link>
            </div>
            <div id="loader" class="lds-dual-ring overlay" :class="showLoader ? '' : 'hidden'"></div>
            <form>
                <input type="text" name="title" id="title" placeholder="Title" v-model="title"  class="fadeIn second">
                <textarea name="description" id="description" placeholder="Description" v-model="description" class="fadeIn third"></textarea>
                <input type="button" name="submit" class="fadeIn fourth" @click="createTodo" value="Create New Todo">
            </form>
            <div id="formFooter">
                <router-link to="/todo-list" class="">Todo List</router-link>
            </div>
        </div>
    </div>
</template>

<script>
import fetchResource from "../../services/apiRequest";
import BrowserStorage from "../../services/browserStorage";

export default {
    name: "todoCreate",
    data(){
        return{
            title: "",
            description: "",
            showLoader: false,
            showErrorDiv:false,
            errMsg: "",
            showSuccessDiv:false,
        }
    },
    methods:{
        createTodo: async function (){
            if(!this.title || !this.description){
                this.showErrorDiv = true;
                this.showSuccessDiv = false;
                this.errMsg = "Field Required";
                return;
            }
            this.showLoader = true;
            try {
                let response = await fetchResource.post('/api/todo',{
                    title: this.title,
                    description: this.description
                });
                if(response.data.status === true){
                    this.showLoader = false;
                    this.showErrorDiv = false;
                    this.showSuccessDiv = true;
                    this.title = this.description = "";
                    // this will remove cache from indexedDB of browser storage
                    BrowserStorage.localForage.clearAll();
                }
            }catch(error){
                this.showLoader = true;
                this.showSuccessDiv = false;
                this.showErrorDiv = true;
                this.errMsg = error.data.msg || "Something went wrong!";
            }
        }
    }
}
</script>

<style scoped>

</style>
