<template>
  <div class="container bg-white">
      <div class="row mt-md-5">
          <div class="col-md-6">
                  <h1>Solving creative problems for 10 years - Delivery focused & customer centric.</h1>
              <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                  molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                  numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                  optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                  obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                  nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                  teneturs</h2>
          </div>
          <div class="col-md-6">
              <div><img src="images/ASG-2.png" alt="" width="400px" height="400px"></div>
          </div>
      </div>

  </div>
</template>

<script>
export default {
    name: "welcome"
}
</script>

<style scoped>

</style>
