<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link to="/" class="navbar-brand"><img src="images/logo.png"  height="30"></router-link>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" v-if="this.$store.state.isLogin === true">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome: &nbsp; <span class="font-weight-bold">{{this.$store.state.email}}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">{{this.$store.state.email.split('@')[0]}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);" @click="logout">Logout </a>
                        </div>
                    </li>
                    <li class="nav-item" v-if="this.$store.state.isLogin === false" >
                        <router-link to="/login" class="nav-link ml-auto">Login</router-link>
                    </li>
                    <li class="nav-item" v-if="this.$store.state.isLogin === false" >
                        <router-link to="/register" class="nav-link">Register</router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
import setAuthorizationToken from '../utils/setAuthorizationTokenHeader';
import BrowserStorage from "../services/browserStorage";
import fetchResource from "../services/apiRequest";
import isTokenExist from '../utils/isTokenExist'

export default {
    data() {
      return{
      }
    },
    mounted(){
        if(isTokenExist()){
            fetchResource.cache.get('/api/profile').then((response) => {
                this.$store.commit('setLoginState', true);
                this.$store.commit('setEmail', response.data.user.email);
            })
        }
    },
    methods:{
        logout: function () {
            // this will remove the cookie of token from browser.
            BrowserStorage.cookieStorage.remove("token");
            BrowserStorage.localForage.clearAll(); // this will clear the IndexedDB
            setAuthorizationToken(false); // false mean delete the auth token
            this.$store.commit('setLoginState', false);
            this.$store.commit('setEmail', 'Guest');
            this.$router.push('/');
        }
    }
}
</script>

